.text_list{
    text-align: center;
}

.list_button_container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  margin-top: 30px;
  margin-bottom: 30px;
}

.list_button{
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  border-radius: 7px;
  width: 200px;
  height: 40px;
  font-weight: bold;
  list-style: none;
  transition: 0.3s;
  background-color: [object object];
  background-image: radial-gradient(circle at 100% 0%, rgba(94, 138, 243, 1) 15%, rgb(196, 167, 192));
  margin-top: 10px;
  margin-bottom: 30px;
}

.list_button:hover {
transform: translateY(-4px); /* 浮き上がる */
box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* 影を濃くして立体感 */
opacity: 0.9; /* 少し薄く */
}


.fixedIcon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
    z-index: 1000;
    cursor: pointer;
  
    /* スマホ向けに余白とサイズを微調整 */
    @media (max-width: 600px) {
      width: 40px;
      height: 40px;
      bottom: 15px;
      right: 15px;
    }
  }

  