.text{
    text-align: center;
}

.container {
  padding: 24px;
}

.text {
  font-size: 20px;
  margin-bottom: 16px;
}

.mainContent {
  display: flex;
  gap: 32px; /* カードとタイムラインの間の余白 */
  align-items: flex-start; /* 上揃えにする */
}

.cardSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.timelineSection {
  min-width: 300px; /* タイムラインの幅を確保 */
}

.fixedIcon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
    z-index: 1000;
    cursor: pointer;
  
    /* スマホ向けに余白とサイズを微調整 */
    @media (max-width: 600px) {
      width: 40px;
      height: 40px;
      bottom: 15px;
      right: 15px;
    }
  }

  